# Ignore the heavy virtual environment
venv/
backend/venv/
.env

# Ignore database files
student_db/
__pycache__/
*.pyc

# Ignore system files
.DS_Store
# Ignore virtual environments
venv/
backend/venv/